*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

/*body*/
body{
    background-image:url("../img/cork.png");
}

/*header*/
header{
    background-image:url("../img/wall.png");
    margin-bottom:20px;
    width:100%;
}

/*titolo principale*/
h1{
    text-align:center;
    padding:20px 0;
    font-size: 80px;
}

/*tutti i titoli*/
.title{
    font-family:'Edu Tas Beginner', sans-serif;
}

/*container principale con le card*/
#container{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    margin:auto;
    padding:25px 0 40px;
    width:70%;
}

/*gestione singole card*/
.card{
    background-color:white;
    position:relative;
    cursor:pointer;
    box-sizing: border-box;
    padding:20px 20px 10px 20px;
    margin:10px;
    width:calc(33.33% - 20px);
    min-width:280px;
    transition: transform 0.5s ease;
}

/*gestione singole immagini*/
.card img{
    width:100%;
    height:auto;
}

/*inserimento e gestione del pin rosso*/
.card::before {
    position:absolute;
    content:"";
    top:-6px;  
    left:50%;
    transform:translateX(-50%);
    width:30px;  
    height:30px; 
    background-image:url("../img/pin.svg"); 
    background-size:100%;
    background-repeat:no-repeat;
}

/*gestione stile data delle foto*/
.date {
    font-family: 'Sometype Mono', monospace;
    color:grey;
    font-size:14px;
    margin-top:10px;
  }

/*gestione titolo delle foto*/
.picture-title{
    font-size: 22px;
    text-transform: uppercase;
}

/*gestione rotazione card al mouseover*/
.rotate{
    transform: rotate(10deg) scale(1.05);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    z-index:200;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/*classe per nascondere il pin rosso al mouseover*/
.card.hide-pin::before {
    visibility:hidden;
}

/*classe per nascondere*/
.hide {
    display: none;
}

/*classe per mostrare*/
.show {
    display:block;
}

/*div con sfondo trasparente con foto grande e bottone 'chiudi'*/
.openPicture {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%; 
    height: 100%;
}

/*gestione foto del div con sfondo trasparente*/
.zoomPicture{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:80%;
    height:80%;
    object-fit:contain;
}

/*gestione bottone per chiudere l'immagine*/
.btn {
    position:absolute;
    cursor:pointer;
    background-color:white;
    border:none;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top:50px;
    padding:5px;
}

