/*selettore universale*/
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

/*body*/
body{
    background-image:url("../img/wall.png");   
}

/*titolo principale*/
h1{
    text-align:center;
    padding:20px 0;
    font-size: 80px;
}

/*tutti i titoli*/
.title{
    font-family:'Edu Tas Beginner', sans-serif;
}

/*container principale con le card*/
#container{
    margin:0 auto;
    background-image:url("../img/cork.png");
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
    flex-wrap:wrap;
    width:100%;
    gap:25px;
    padding:40px 200px;
}

/*gestione singole card*/
.card{
    background-color:white;
    padding:15px;
    flex-wrap:wrap;
    position:relative;
}

/*gestione singole immagini*/
.card img{
    width:250px;
    max-width:100%;
}

/*inserimento e gestione del pin rosso*/
.card::before {
    position:absolute;
    content:"";
    top:-6px;  
    left:50%;
    transform:translateX(-50%);
    width:30px;  
    height:30px; 
    background-image:url("../img/pin.svg"); 
    background-size:100%;
    background-repeat:no-repeat;
}

/*gestione stile data delle foto*/
.date {
    font-family: 'Sometype Mono', monospace;
    font-size:14px;
    color:grey;
    margin-top:10px;
  }

/*gestione titolo delle foto*/
.picture-title{
    font-size: 22px;
    text-transform: uppercase;
}

.rotate{
    transform: rotate(30deg);
}